html {
  background: url(../images/galaxy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/galaxy.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/galaxy.jpg', sizingMethod='scale')";
}

body {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;	
	font-family: Helvetica, 'sans-serif';
	color: #fff;
}

h1 {
	color: #CACC00;
	font-family: 'Russo One', 'sans-serif';
	font-size: 72px;
}
.container {
	
}

.ball {
	margin: 30px 0 30px 0;
}

.query-area {
	position: relative;
}

.button {
	position: relative;
	padding: 20px 0 20px 0;
}

#button {
	width: 125px;
	height: 35px;
	font-size: 15px;
	font-family: inherit;
	border-radius: 7px;
	background-color: rgb(0,255,0);

}

#output{
	font-size: 20px;
}

#question {
	background: rgba(172, 167, 164, 0.6);
	outline-color: #ff0;
	margin-top-top: -30px;
	width: 200px;
	height: 45px;
	font-size: 20px;
	font-family: inherit;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

@media () {

}